body {
    font-family: Source Sans Pro;
    font-style: normal;
}
header {
    display: flex;
    flex-direction: row;
    flex: auto;
    background-image: url("./images/Background.png");
    padding: 2% 5% 2% 5%;
    filter: grayscale(100%);
    position: absolute;
    left: -0.025%;
    right: -0.025%;
    top: 0%;
    bottom: -26.48%;
}

nav {
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0px;
text-align: left;
color: aliceblue ;
}

